{% extends "layouts/base.html" %}
{% block title %}Lab8 Task3 – NOT Edition &gt; 3 AND NOT contains 'qu'{% endblock title %}
{% block content %}
<h1>Task 3: Edition NOT &gt; 3 AND (title and author do NOT contain 'qu')</h1>
<table border="1" cellpadding="6" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th><th>Title</th><th>Author</th><th>Price</th><th>Edition</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>${{ book.price }}</td>
            <td>{{ book.edition }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No books found.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
