{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Links and Layout Customization{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'main.css' %}?v=4">
{% endblock %}

{% block content %}
<div class="page-content">
    <a href="https://myqu.qu.edu.sa" target="_blank" id="link1" class="link-container">
        Go to QU website (open a new tab)
    </a>

    <a href="https://myqu.qu.edu.sa" target="_self" id="link2" class="link-container">
        Go to QU website (open in the same page/tab)
    </a>

    <a href="https://myqu.qu.edu.sa" id="link3" class="link-container">
        Go to QU website (open in the same page/tab)
    </a>
</div>

{% endblock %}
