{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Tables and Layout Customization{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'main.css' %}?v=2">
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="table-container">
        <div class="table-title">
            Table 1: Table<br>
            of Fruits and<br>
            Their Prices
        </div>
        <table id="fruit-table">
            <tr>
                <th>Fruit</th>
                <th>Price</th>
            </tr>

            <tr>
                <td>Apple</td>
                <td>$0.25</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>$0.50</td>
            </tr>
            <tr>
                <td>Banana</td>
                <td>$1.00</td>
            </tr>
            <tr>
                <td>Pineapple</td>
                <td>$2.00</td>
            </tr>

            <tr>
                <td>Total</td>
                <td>$3.75</td>
            </tr>
        </table>

        <div class="table-title" style="margin-top: 60px;">
            Table 2: A more complex sample table
        </div>
        <table id="camelid-table">
            <tr>
                <td rowspan="2" class="image-cell">
                    <img src="{% static 'images/camel.jpg' %}" alt="Desert camel">
                </td>
                <th colspan="4" class="camelid-title">
                    Camelid comparison<br>
                    Approximate as of 6/2011
                </th>
            </tr>

            <tr>
                <th># of humps</th>
                <th>Indigenous region</th>
                <th>Spits?</th>
                <th>Produces wool?</th>
            </tr>

            <tr>
                <td class="animal-name">Dromedary</td>
                <td>1</td>
                <td>Arabian Peninsula</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>

            <tr>
                <td class="animal-name">Camels (bactrian)</td>
                <td>2</td>
                <td>Africa/Asia</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>

            <tr>
                <td class="animal-name">Llamas</td>
                <td>1</td>
                <td>Andes Mountains</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
